<% @map_reduced_caught_exceptions.each_with_index do |caught_exception, index| %>
  <%
    first_line = caught_exception['_id']
    first_line_escaped = CGI::escape(first_line)
    id = "exception-#{index}"
  %>
  <div id='<%= id %>' class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">
        <div class="row">
          <div class="col-md-1">
            <a href="/many_exceptions?line_one=<%= first_line_escaped %>">
              <button class="btn btn-warning btn-lg">
                <span class="glyphicon glyphicon-fire"></span> <%= caught_exception["value"]["count"] %>
              </button>
            </a>
          </div>

          <div class="col-md-8">
            <span style="margin-left: 10px">
              <%= first_line %>
            </span>
          </div>

          <div class="col-md-1">
            <button class="btn btn-danger btn-lg" onclick="dismissError('<%= id %>', '<%= first_line_escaped %>')">
              <span class="glyphicon glyphicon-warning-sign"></span>
              Dismiss All
            </button>
          </div>
        </div>
      </h3>


    </div>
    <div class="panel-body error-summary-box">
      <div class="row">
        <div class="col-xs-6">
          <div class="panel panel-default">
            <div class="panel-heading">User Agents</div>
            <table class="table">
              <% if caught_exception["value"]["agents"] %>
                <% caught_exception["value"]["agents"].each do |key, value| %>
                  <tr>
                    <td>
                      <%= key %>
                    </td>
                    <td>
                      <span class="pull-right badge"><%= value.to_i %></span>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </table>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Remote Addresses</div>
            <table class="table">
              <% if caught_exception["value"]["ips"] %>
                <% caught_exception["value"]["ips"].each do |key, value| %>
                  <tr>
                    <td>
                      <%= key %>
                    </td>
                    <td>
                      <span class="pull-right badge"><%= value.to_i %></span>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </table>
          </div>
        </div>
        <div class="col-xs-6">
            <div id="caught_exception_chart<%= index %>" style="width:400px;height:200px"></div>

            <script type="text/javascript">
              <% caught_exception_dates = caught_exception["value"]["dates"] || [ caught_exception["value"]["date"].to_i ] || [] %>
              var dates = <%= raw caught_exception_dates %>;
              var dateCounter = function(dates) {
                var results = {};
                dates.forEach(function(dateTime){
                  var date = new Date(dateTime);
                  var dateString = date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear();
                  if (results.hasOwnProperty(dateString)) {
                    results[dateString] += 1;
                  } else {
                    results[dateString] = 1;
                  }
                });

                results["dateLabels"] = Object.keys(results);
                results["countArray"] = [];
                results.dateLabels.forEach(function(key){
                  results.countArray.push(results[key]);
                });
                return results;
              };

              if (dates.length > 0) {
                var dateResults = dateCounter(dates);

                $("#caught_exception_chart<%= index %>").highcharts({
                  chart: {
                   type: 'column'
                  },
                  title: {
                    text: ""
                  },
                  xAxis: {
                    categories: dateResults.dateLabels
                  },
                  yAxis: {
                    min: 0,
                    title: {
                        text: 'Number of errors'
                    }
                  },
                  colors: ['#f0ad4e'],
                  series: [{
                    data: dateResults.countArray,
                    showInLegend: false
                  }]
                });
              }
            </script>
          </div>
        </div>
      </div>

  </div>
<% end %>
